.container {
    padding: 0 1rem;
    padding-bottom: 2rem;
    background: #111;
    opacity: .85;
    border-radius: 8px;
    height: 27vmax;
    overflow: scroll;
}

.titlecontainer {
    background: #111;
    opacity: .85;
    padding: 0.005rem;
    border-radius: 5px;
}

.title {
    width: 100%;
    font-size: 1.75rem;
    color: #fff;
    font-weight: bold;
}